@media (min-width: 900px) and (max-width: 1200px) {
    #projetos {
        font-weight: 300;
        font-size: 30px;
    }

    #imgProjetos {
        position: absolute;
        left: 80%;
        top: 50%;
        transform: translateY(-50%);
        width: 60px;
    }
}

@media (min-width: 480px) and (max-width: 900px) {
    #projetos {
        font-weight: 300;
        font-size: 20px;
    }

    #imgProjetos {
        position: absolute;
        left: 80%;
        top: 50%;
        transform: translateY(-50%);
        width: 40px;
    }

    #textos {
        position: absolute;
        top: 50%;
        left: 30px;
        transform: translateY(-50%);
    }
}

@media (min-width: 360px) and (max-width: 480px) {
    #projetos {
        font-weight: 300;
        font-size: 15px;
    }

    #textos {
        position: absolute;
        top: 50%;
        left: 20px;
        transform: translateY(-50%);
    }

    #imgProjetos {
        position: absolute;
        left: 75%;
        top: 50%;
        transform: translateY(-50%);
        width: 40px;
    }
}

@media (max-width: 360px) {
    #projetos {
        font-weight: 300;
        font-size: 15px;
    }

    #textos {
        position: absolute;
        top: 30%;
        translate: -50%;
        left: 50%;
        transform: translateY(-40%);
    }

    #imgProjetos {
        position: absolute;
        left: 50%;
        translate: -50%;
        top: 70%;
        transform: translateY(-70%);
        width: 40px;
    }
}

@media (min-width: 1700px) and (max-width: 1800px) {
    #divProjetos{
        width: 90%;
        margin-top: 50px;
        height: 3400px;
        background-color: #4836bf7c;
        position: relative;
        left: 50%;
        translate: -50%;
        border-radius: 10px;
    }
}

@media (min-width: 1550px) and (max-width: 1700px) {
    #divProjetos{
        width: 90%;
        margin-top: 50px;
        height: 3300px;
        background-color: #4836bf7c;
        position: relative;
        left: 50%;
        translate: -50%;
        border-radius: 10px;
    }
}

@media (min-width: 1350px) and (max-width: 1550px) {
    #divProjetos{
        width: 90%;
        margin-top: 50px;
        height: 3250px;
        background-color: #4836bf7c;
        position: relative;
        left: 50%;
        translate: -50%;
        border-radius: 10px;
    }
}

@media (min-width: 710px) and (max-width: 1350px) {
    #divProjetos{
        width: 90%;
        margin-top: 50px;
        height: 3150px;
        background-color: #4836bf7c;
        position: relative;
        left: 50%;
        translate: -50%;
        border-radius: 10px;
    }
}

@media (min-width: 520px) and (max-width: 710px) {
    #divProjetos{
        width: 90%;
        margin-top: 50px;
        height: 3300px;
        background-color: #4836bf7c;
        position: relative;
        left: 50%;
        translate: -50%;
        border-radius: 10px;
    }
}

@media (min-width: 435px) and (max-width: 520px) {
    .imgProjeto{
        width: 80%;
        margin-top: 20px;
        border-radius: 10px;
    }

    #divProjetos{
        width: 100%;
        margin-top: 50px;
        height: 3650px;
        background-color: #4836bf7c;
        position: relative;
        left: 50%;
        translate: -50%;
        border-radius: 10px;
    }
}

@media (min-width: 360px) and (max-width: 435px) {
    .imgProjeto{
        width: 80%;
        margin-top: 20px;
        border-radius: 10px;
    }

    #divProjetos{
        width: 100%;
        margin-top: 50px;
        height: 3900px;
        background-color: #4836bf7c;
        position: relative;
        left: 50%;
        translate: -50%;
        border-radius: 10px;
    }
} 

@media (min-width: 343px) and (max-width: 360px) {
    .imgProjeto{
        width: 80%;
        margin-top: 20px;
        border-radius: 10px;
    }

    #divProjetos{
        width: 100%;
        margin-top: 50px;
        height: 4000px;
        background-color: #4836bf7c;
        position: relative;
        left: 50%;
        translate: -50%;
        border-radius: 10px;
    }
}

@media (min-width: 325px) and (max-width: 343px) {
    .imgProjeto{
        width: 80%;
        margin-top: 20px;
        border-radius: 10px;
    }

    #divProjetos{
        width: 100%;
        margin-top: 50px;
        height: 4100px;
        background-color: #4836bf7c;
        position: relative;
        left: 50%;
        translate: -50%;
        border-radius: 10px;
    }
}

@media (min-width: 306px) and (max-width: 325px) {
    .imgProjeto{
        width: 80%;
        margin-top: 20px;
        border-radius: 10px;
    }

    #divProjetos{
        width: 100%;
        margin-top: 50px;
        height: 4200px;
        background-color: #4836bf7c;
        position: relative;
        left: 50%;
        translate: -50%;
        border-radius: 10px;
    }
}

@media (min-width: 286px) and (max-width: 306px) {
    .imgProjeto{
        width: 80%;
        margin-top: 20px;
        border-radius: 10px;
    }

    #divProjetos{
        width: 100%;
        margin-top: 50px;
        height: 4300px;
        background-color: #4836bf7c;
        position: relative;
        left: 50%;
        translate: -50%;
        border-radius: 10px;
    }
} 

@media (max-width: 286px) {
    .imgProjeto{
        width: 80%;
        margin-top: 20px;
        border-radius: 10px;
    }

    #divProjetos{
        width: 100%;
        margin-top: 50px;
        height: 4400px;
        background-color: #4836bf7c;
        position: relative;
        left: 50%;
        translate: -50%;
        border-radius: 10px;
    }
} 