@media (min-width: 900px) and (max-width: 1200px) {
    #contato {
        font-weight: 300;
        font-size: 30px;
    }

    #imgContato {
        position: absolute;
        left: 80%;
        top: 50%;
        transform: translateY(-50%);
        width: 60px;
    }
}

@media (min-width: 480px) and (max-width: 900px) {
    #contato {
        font-weight: 300;
        font-size: 20px;
    }

    #imgContato {
        position: absolute;
        left: 80%;
        top: 50%;
        transform: translateY(-50%);
        width: 40px;
    }

    #textos {
        position: absolute;
        top: 50%;
        left: 30px;
        transform: translateY(-50%);
    }
}

@media (min-width: 360px) and (max-width: 480px) {
    #contato {
        font-weight: 300;
        font-size: 15px;
    }

    #textos {
        position: absolute;
        top: 50%;
        left: 20px;
        transform: translateY(-50%);
    }

    #imgContato {
        position: absolute;
        left: 75%;
        top: 50%;
        transform: translateY(-50%);
        width: 40px;
    }
}

@media (max-width: 360px) {
    #contato {
        font-weight: 300;
        font-size: 15px;
    }

    #textos {
        position: absolute;
        top: 30%;
        translate: -50%;
        left: 50%;
        transform: translateY(-40%);
    }

    #imgContato {
        position: absolute;
        left: 50%;
        translate: -50%;
        top: 70%;
        transform: translateY(-70%);
        width: 40px;

    }
}

@media (min-width: 818px) and (max-width: 1218px) {
    .btn {
        width: 100px;
        height: 50px;
    }
}

@media (min-width: 658px) and (max-width: 818px) {
    .btn {
        width: 80px;
        height: 50px;
    }
}

@media (min-width: 200px) and (max-width: 658px) {
    .btn {
        width: 100%;
        height: 50px;
    }

    #formContato {
        background-color: #6B5EC2;
        box-shadow: -30px -20px #4836bf79;
        margin-top: 50px;
        width: 50%;
        height: 500px;
        position: relative;
        left: 50%;
        translate: -50%;
        border-radius: 10px;
        color: white;
    }

    #btnLimpar {
        margin-top: 10px;
    }
}